<h1>{{ project?.name }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">Project information</div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label col-sm-3" for="society">National society:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                    <select id="society" class="form-control" [(ngModel)]="selectedSociety" (change)="onSocietyChange(selectedSociety)" name="society">
                        <option *ngFor="let society of societies" [value]="society.id">{{society.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="owner">Project / data owner:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <select id="owner" class="form-control" [(ngModel)]="selectedOwner" name="owner">
                        <option *ngFor="let owner of projectOwners" [value]="owner.id">{{owner.firstname}} {{owner.lastname}} / {{owner.country}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="project">Name of project:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    </span>
                    <input type="text" *ngIf="project !== undefined" [(ngModel)]="project.name" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-sm-3 font-weight-bold">
                <strong>Surveillance context:</strong>
            </p>
            <div class="col-sm-9">
                <fieldset id="surveillance" class="input-group">
                    <div *ngFor="let key of surveillanceOptions" class="radio-inline">
                        <label class="radio-inline">
                            <input type="radio" (change)="getSurveillanceOptionId(key.id)" name="surveillance" [value]="key.id" [(ngModel)]="selectedSurveillanceOptionId"
                                required> {{ key.name }}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Health Risks</div>
    <div class="panel-body">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>Health Risk</td>
                        <td>Threshold</td>
                        <td>Case Definition</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of project?.healthRisks">
                        <td>
                        </td>
                        <td>
                            <select>
                                <option>xx</option>
                            </select>
                        </td>
                        <td>
                            text
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Data Verifiers</div>
    <div class="panel-body">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>Data Verifier</td>
                        <td>Data Verifier</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select>
                                <option>xx</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>xx</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<button (click)="updateProject()" type="submit" class="btn btn-primary pull-right">Update</button>