<form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3" for="society">Health risk:</label>
            <div class="col-sm-9">
                <input />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="owner">Case Definition:</label>
            <div class="col-sm-9">
                <textarea name="" id="" cols="30" rows="10"></textarea>>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="project">Alert Threshold:</label>
            <input type="number" />
        </div>
        <div class="form-group">
                <label class="control-label col-sm-3" for="project">Key Message:</label>
                <input  />
        </div>
        <div class="form-group">
                <label class="control-label col-sm-3" for="project">Key Action:</label>
                <input  />
        </div>
        <button (click)="addHealthRisk()" type="submit" class="btn btn-primary pull-right">Create</button>
    </form>